--- 
// import ForceGraph from '../components/examples/ForceGraph.jsx';
import D3chart from "@components/examples/D3chart.vue";
import  Agraph  from "@components/examples/graph.vue";
---


<html>
  <body>
    <!-- <ForceGraph client:load /> -->
    <!-- <D3chart client:idle /> -->
     <Agraph client:load />
  </body>
</html>
