---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;

---
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/asciinema-player/3.0.1/asciinema-player.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/asciinema-player/2.6.1/asciinema-player.min.css" />
    
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <counter />
    
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    
  </body>
</html>